In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
pop23 = gpd.read_file('https://raw.githubusercontent.com/dataandcrowd/GISCI343/main/docs/Lecture5/data/pop23.gpkg')

In [9]:
pop23[['REGC2023_2']]

                   REGC2023_2
0           Canterbury Region
1            Southland Region
2                Otago Region
3           West Coast Region
4              Waikato Region
5            Northland Region
6   Manawatu-Whanganui Region
7        Bay of Plenty Region
8          Hawke's Bay Region
9          Marlborough Region
10            Auckland Region
11          Wellington Region
12              Tasman Region
13            Gisborne Region
14            Taranaki Region
15              Nelson Region
16        Area Outside Region

In [3]:
pop23["centroid"] = pop23.centroid

In [11]:
wellington = pop23[pop23["REGC2023_2"].str.contains("Wellington", case=False)]

In [15]:
wellington_centroids = wellington.centroid.values[0]

In [ ]:
pop23["distance_to_wellys"] = pop23["centroid"].distance(wellington_centroids)
pop23["distance_to_wellys_km"] = round(pop23["distance_to_wellys"] / 1000, 2)
pop23[["centroid", "distance_to_wellys_km"]]

                           centroid  distance_to_wellys_km
0   POINT (1504471.265 5175113.443)                 398.07
1   POINT (1192875.920 4894523.352)                 817.37
2   POINT (1340957.562 4969400.688)                 658.41
3   POINT (1413794.882 5265353.776)                 425.87
4   POINT (1814673.939 5812794.911)                 374.34
5   POINT (1666886.314 6089056.502)                 664.46
6   POINT (1818513.179 5588762.382)                 150.94
7   POINT (1939749.841 5798645.911)                 385.17
8   POINT (1941378.454 5626939.482)                 233.78
9   POINT (1665073.201 5409294.375)                 140.84
10  POINT (1767386.693 5956563.240)                 519.13
11  POINT (1802816.368 5438643.861)                   0.00
12  POINT (1577095.304 5442135.170)                 225.75
13  POINT (2047929.399 5757742.163)                 402.37
14  POINT (1710146.475 5644088.021)                 225.38
15  POINT (1633286.524 5448579.814)                 169.82
16  POINT (2319851.826 5233438.654)                 556.27