# Lab1: Lists and Arrays

## Objectives
1. Review the understanding of basic Python programming concepts.
2. Test basic Python programming skills with various examples.

## Part 1: Python Basics Recap

### Step 1: Setting Up the Environment
* Open Jupyter Lab/Notebook or Google Colab.

### Step 2: Simple Python Maths
Perform basic arithmetic operations in Python.

In [ ]:
print(1 + 1)
print(45 * 7)
print(2**4) # again white spacing is important here
print(15 % 7)

### Step 3: Working with Strings
Practice string manipulations.

In [ ]:
my_string = "Hello, GIS!"
# Convert the string to uppercase
print(my_string.______)
# Convert the string to lowercase
print(my_string.______)
# Get the length of the string
print(len(_________))

### Step 4: Variables and Data Types

In [ ]:
my_int = 10
my_float = 3.14
my_str = "Python"
my_bool = True
# Print the types of the variables
print(type(________), type(________), type(________), type(________))

In [ ]:
cities = ["Auckland", "Wellington", "Christchurch"]
print(cities)
# Add a new city to the list
cities.________("Hamilton")
print(________)
# Change the second city to "Dunedin"
cities[____] = "Dunedin"
print(________)

## Part 2: Lists

### Creating and Modifying Lists

In [ ]:
mylist1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mylist2 = ["Auckland", "Wellington", "Christchurch"]
mylist3 = [1, 2, 3.5, "string", True, 6, 7]

print(type(mylist1))

print(mylist1)
print(mylist2)
print(mylist3)

### Length

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mylist_len = len(mylist)
print(mylist_len)

### Indexing

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(mylist[0])
print(mylist[3])

print('\n---------------------\n')

print(mylist[-1])
print(mylist[-4])

print('\n---------------------\n')

print(mylist[5:7])
print(mylist[4:])

### List manipulation using append and remove

In [ ]:
mylist = [1, 2, 3]
print(mylist)

print('\n---------------------\n')

mylist.append('new')
print(mylist)
mylist.remove('new')
print(mylist)

print('\n---------------------\n')

mylist.insert(1, 'new')
print(mylist)
mylist.pop(1)
print(mylist)

### Reversing and Sorting

In [ ]:
mylist = [18, 54, 1, 47]

mylist.sort()
print(mylist)

print('\n---------------------\n')

mylist.reverse()
print(mylist)

### Exercise

Here is a list of ASEAN countries:


```python
asean_countries = ["Brunei", "Cambodia", "Indonesia", "Laos", "Malaysia"]
```

1. Add the following countries to the list: "Myanmar", "Philippines", "Singapore", "Thailand", "Vietnam".
2. Sort the updated list in alphabetical order.
3. Print the final sorted list.

## Part 3: Tuples

Tuples are similar to lists but they are immutable which means they can't change after they have created

And instead of square brackets in Lists, Tuples use normal brackets

In [ ]:
mytuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
mytuple2 = ("Laos", "Thailand", "Cambodia")
mytuple3 = (1, 2, 3.5, "string", True, 6, 7)

print(type(mylist1))

print(mytuple1)
print(mytuple2)
print(mytuple3)

### Exercise 

Perform same operations as Lists for Tuples also:

    - getting length
    - accessing the element
    - editing the tuple
    - reversing and sorting
    - check element available or not

### Good news! 

Lists can be converted to a tuples and tuples can be converted to lists

In [ ]:
a = [1, 2, 3, 4, 5]
b = tuple(a)
print(b)

print('\n---------------------\n')

a = (1, 2, 3, 4, 5)
b = list(a)
print(b)

## Part 4: Dictionaries

Dictionaries are used to store data values in `key:value` pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Tesla",
  "model": "Y",
  "year": 2025
}

In [ ]:
print(thisdict)

In [ ]:
print(type(thisdict))

### Dictionary Items

Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [7]:
thisdict = {
  "brand": "Tesla",
  "model": "Y",
  "year": 2025
}

print(thisdict.keys())
print(thisdict.values())

dict_keys(['brand', 'model', 'year'])
dict_values(['Tesla', 'Y', 2025])

In [ ]:
thisdict = {
  "brand": "Tesla",
  "model": "Y",
  "year": 2025
}
print(thisdict["brand"])

* Changeable: Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

### Duplicates Not Allowed

Dictionaries cannot have two items with the same key:

In [ ]:
thisdict1 = {
  "brand": "Tesla",
  "model": "Y",
  "year": 2024,
  "year": 2025
}

In [ ]:
print(thisdict1)

### Dictionary Length

To determine how many items a dictionary has, use the `len()` function:

In [ ]:
print(len(thisdict))

### Dictionary Items - Data Types

The values in dictionary items can be of any data type:

In [ ]:
thisdict2 = {
  "brand": "Tesla",
  "model": "Y",
  "electric": True,
  "year": 2025,
  "colors": ["red", "white", "blue"]
}

### The `dict()` Constructor

In [ ]:
thisdict3 = dict(name = "John", age = 36, country = "Norway")
print(thisdict3)

### Add items

In [ ]:
thisdict4 =	{
  "brand": "Tesla",
  "model": "Y",
  "year": 2024
}
thisdict4["color"] = "red"
print(thisdict4)

### Remove Items

In [ ]:
thisdict5 = {
  "brand": "Tesla",
  "model": "Y",
  "year": 2024
}
thisdict5.pop("model")
print(thisdict5)

In [ ]:
thisdict6 = {
  "brand": "Tesla",
  "model": "Y",
  "year": 2024
}

del thisdict6["model"]
print(thisdict6)

### Exercise: Working with Dictionaries in Python

A dictionary in Python stores data as key-value pairs. In this exercise, you will create a dictionary containing the estimated population of major cities in New Zealand.

**Task 1: Create a Dictionary**
Create a dictionary named nz_population where:

The keys are city names: ```"Auckland", "Wellington", "Hamilton", "Christchurch", and "Dunedin"```


The values are their estimated populations:

* Auckland: 1,600,000
* Wellington: 215,000
* Hamilton: 180,000
* Christchurch: 380,000
* Dunedin: 130,000

<br>

**Task 2: Add a New City**

Modify your dictionary by adding "Tauranga" with a population of 155,000.

<br>

**Task 3: Print All Cities and Their Populations**

Use a for loop to print each city along with its population using the code below:

```python
for city, population in nz_population.items():
    print(f"City: {city}, Population: {population}")
```

## Part 5: For Loops

### Double loop

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
pairwise_sum = []

for i in list1:
    for j in list2:
        pairwise_sum.append(i + j)

print(pairwise_sum)

### Step 7: Combining Loops and Conditionals
* Use loops and conditionals together

In [ ]:
temperatures = [20, 25, 30, 35]
for temp in temperatures:
    if temp > 28:
        print(temp, "is hot")
    else:
        print(temp, "is not hot")

## Part 3: Practical Exercises

### Exercise 1: Calculating Mean Temperature
* Calculate the mean temperature from a list

In [ ]:
temperatures = [20, 22, 24, 26, 28, 30]
mean_temp = ______(temperatures) / ______(temperatures)
print("Mean Temperature:", ________)

### Exercise 2: Classifying Temperature using elif
Modify the loop to include an elif condition to categorize temperatures as Cold, Warm, or Hot.

In [ ]:
temperatures = [10, 15, 20, 25, 30, 35, 40]

for temp in temperatures:
    if temp < 18:
        print(____, "is Cold")
    elif 18 <= temp < 28:
        print(____, "is Warm")
    else:
        print(____, "is Hot")